    <% if (flash.info) { %>
      <p><%= flash.info %></p>
    <% } %>
    <% if (flash.success) { %>
      <p><%= flash.success %></p>
    <% } %>
    <% if (flash.error) { %>
      <p><%= flash.error %></p>
    <% } %>